.cart-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px;
}
.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-total .label {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.cart-total .value {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.cart-action {
  display: flex;
  justify-content: flex-end;
}
.cart-action .clear {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: 0;
  background-color: transparent;
  color: rgb(18, 21, 177);
  margin-bottom: 50px;
}
